/* src/styles/Doll.module.css */

.dollContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.doll {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* 이미지 사이즈 조절 및 가운데 정렬 */
.dollImage {
  max-width: 30%;   /* 부모 컨테이너의 너비의 30% 크기 */
  height: auto;     /* 비율에 맞게 자동 조절 */
  display: block;   /* block 요소로 설정하여 margin auto 적용 */
  margin: 0 auto;   /* 좌우 자동 마진으로 가운데 정렬 */
}

.mist {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, transparent 70%);
  pointer-events: none;
  transition: opacity 0.5s ease-out, filter 0.5s ease-out;
}
